.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  margin-bottom: 0px;
}

.App-intro {
  font-size: large;
}

.App-footer {
  bottom: 0px;
  position: fixed;
  text-align: center;
  width: 100%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #555;
  color: #eee;
  border: 3px solid #fff;
  float: left;
  font-size: 32px;
  font-weight: bold;
  line-height: 34px;
  height: 64px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 64px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #aaa;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-board {
  margin: auto auto;
}

.game-info {
  margin-left: 20px;
}
